{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ucl/widgets/contacts/contact
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}

{{! Contact. }}
<div class="ucl-format-coursecontact d-flex align-items-start ml-1" data-userid="{{id}}">

    {{! Image. }}
    <div class="flex-0 mr-2 ucl-format-coursecontact-picture">
        {{{picture}}}
        
        {{^custom}}
        <div class="ucl-format-image-hidden rounded-circle bg-warning d-flex align-items-center justify-content-center" 
        title="{{#str}}hiddenfromstudents, format_ucl{{/str}}">
                <i class="fa-regular fa-solid fa-eye-slash text-dark"></i>
        </div>
        {{/custom}}
        
        {{! Custom contact image.}}
        {{#custom}}
           <div class="userinitials">
                <i class="fa-regular fa-envelope fa-lg"></i>
            </div>
        {{/custom}}

        
    </div>

    {{! Details. }}
    <div class="ml-2">
        
        {{! Name. }}
        <div>
            {{#url}}
                <a href="{{{url}}}">{{{name}}}</a>
            {{/url}}
            {{! Custom contact has no user profile link.}}
            {{#custom}}
                {{{name}}}
            {{/custom}}
        </div>
        

        {{#role}}
        <div class="small text-muted">
            {{{.}}}
        </div>
        {{/role}}

        {{! Description. }}
        {{#description}}
            <div class="small pt-1">{{{.}}}</div>
        {{/description}}

        {{^custom}}
        {{#caneditprofile}}
            <div>
                <a href="{{{editurl}}}" target="_blank" class="btn btn-add-content my-2">
                <i class="fa-solid fa-circle-plus mr-2"></i>
                {{#str}} adddescription, format_ucl{{/str}}
                <span class="sr-only">{{#str}} forcontact, format_ucl, {{{name}}}{{/str}}</span>
                </a>
            </div>
        {{/caneditprofile}}
        {{/custom}}

        {{! Email. }}
        {{#email}}
        <div>
            {{#str}} email{{/str}}: 
            <a href="mailto:{{{email}}}?subject={{{subject}}}" target="_blank">
                {{{email}}}
            </a>
        </div>
        {{/email}}

    </div>

    {{! Editing. }}
    {{#isediting}}
        <div class="ml-auto">
            
            {{! Hide/show contact. }}
            {{^custom}}
            <div class="custom-control custom-switch">
                <input
                    type="checkbox" id="switch-{{id}}"
                    class="contact-hide-toggle custom-control-input"
                    data-action="{{#show}}hide{{/show}}{{^show}}show{{/show}}"
                    {{#show}} checked {{/show}}
                >
                <label
                    class="custom-control-label" for="switch-{{id}}"
                    title="{{#str}} showtostudents, format_ucl, {{{name}}}{{/str}}"
                >
                    <span class="sr-only">
                        {{#str}} showtostudents, format_ucl, {{{name}}}{{/str}}
                    </span>
                </label>
            </div>
            {{/custom}}
            
            {{! Edit custom contact. }}
            {{#custom}}
            <div>
                <a class="ml-2 btn text-nowrap btn-add-content" data-toggle="collapse" href="#ucl-format-customcontact-form-{{contactid}}"
                    role="button" aria-expanded="false"
                    aria-controls="ucl-format-customcontact-form-{{contactid}}">
                    <i class="fa-regular fa-circle-user mr-2"></i>
                    {{#str}} editcustomcontact, format_ucl {{/str}}
                    <span class="sr-only">{{{name}}}</span>
                </a>
            </div>
            {{/custom}}
        </div>
    {{/isediting}}

</div>

{{#isediting}}
    {{#custom}}
        {{> format_ucl/widgets/contacts/customcontact_form }}
    {{/custom}}
{{/isediting}}
