{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ucl/widgets/contacts/contacts

    Display course contacts.

    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * hascontacts Whether the course has contacts to display.
    * contacts Array of contact objects, each with properties: id, name, email, role, picture, url, description.
    * isediting Whether the user can edit course roles (to show edit button).
    Example context (json):
    {
        "showcontacts": true,
        "hascontacts": true,
        "isediting": true,
        "courseid": 42,
        "config": {
            "wwwroot": "https://moodle.example.ac.uk"
        },
        "contacts": [
            {
                "id": 1,
                "name": "John Doe",
                "show": true,
                "email": "john.doe@example.com",
                "subject": "Course%201",
                "role": "Teacher",
                "picture": "<img src='path/to/picture.jpg' alt='John Doe'>",
                "url": "/user/view.php?id=1",
                "description": "Course lead and primary contact.",
                "caneditprofile": true,
                "editurl": "/user/edit.php?id=1&course=42"
            }
        ],
        "customcontacts": [
            {
                "id": 10,
                "contactid": 10,
                "name": "Course Administrator",
                "custom": true,
                "show": true,
                "email": "course.admin@example.com",
                "subject": "Course%201",
                "role": "Support contact",
                "description": "Contact for timetable and assessment queries.",
                "customcontactform": {
                    "formhtml": "<form>...</form>"
                }
            }
        ],
        "customcontactform": {
            "formhtml": "<form>...</form>"
        }
    }
}}
{{#showcontacts}}
<div id="format-ucl-contacts-widget">
    <hr>
    <h3 class="py-2">
        {{#str}} coursecontacts, format_ucl {{/str}}
    </h3>

    {{ Contacts content. }} 
    <div id="ucl-format-contacts">

        {{#hascontacts}}
            {{#isediting}}
            {{! Editing instructions. }}
            <div class="d-flex align-items-end small pb-2">
                <div>
                    {{#str}} coursecontacts:desc, format_ucl {{/str}}
                </div>
                <div class="ml-auto">
                    {{#str}} showcontact, format_ucl {{/str}}
                </div>
            </div>
            {{/isediting}}

        {{#contacts}}
        {{> format_ucl/widgets/contacts/contact }}
        <hr>
        {{/contacts}}

        {{#customcontacts}}
        {{> format_ucl/widgets/contacts/contact }}
        <hr>
        {{/customcontacts}}


        {{/hascontacts}}

        {{#isediting}}
            <div class="py-3">
                <a href="{{{ config.wwwroot }}}/user/index.php?id={{courseid}}" class="btn btn-add-content
                mr-3">
                    <i class="fa-solid fa-circle-user mr-2"></i>
                    {{#str}} editcourseroles, format_ucl {{/str}}
                </a>

                <a class="btn btn-add-content" data-toggle="collapse" href="#ucl-format-customcontact-form"
                role="button" aria-expanded="false"
                aria-controls="ucl-format-customcontact-form">
                    <i class="fa-solid fa-circle-plus mr-2"></i>
                    {{#str}} addcustomcontact, format_ucl {{/str}}
                </a>
            </div>
            
            {{> format_ucl/widgets/contacts/customcontact_form }}

            <hr>
        
        {{/isediting}}

    </div>   
</div>



{{#isediting}}
{{#js}}
require(['format_ucl/local/contacts'], function(component) {
    component.init({{courseid}});
});
{{/js}}
{{/isediting}}

{{/showcontacts}}
