/* UCL course format. */
body.format-ucl {
    /* Utility class from theme. */
    .bg-cover {
        background-size: cover;
        background-position: center;
    }

    /* Add content button. */
    /* TODO - remove in Moodle 5 upgrade where this is in core. */
    .btn-add-content {
        border-radius: 1rem;
        border: 2px dashed color-mix(in srgb, var(--primary) 20%, white);
        color: var(--primary);
        background-color: white;
        font-size: .9rem;
        font-weight: bold;
        transition: all 1s;
        &:hover,
        &:focus {
            background-color: color-mix(in srgb, var(--primary) 6%, white);
            border-style: solid;
            border-color: var(--primary);
            color: color-mix(in srgb, var(--primary) 63%, black);
        }
    }

    /* Page width. */
    #page-header,
    .main-inner,
    .secondary-navigation .nav-tabs {
        max-width: 1140px !important; /* stylelint-disable-line declaration-no-important */
    }

    #page-navbar {
        position: relative !important; /* stylelint-disable-line declaration-no-important */
    }

    &.path-course-view #page.drawers {
        overflow: unset;
    }

    .single-section ul.course-format-ucl {
        padding-left: 0;
    }

    /* Remove borders. */
    .section-item {
        border: none;
        padding: 0;
    }

    /* Remove "current" border. */
    .course-content .current::before {
        border-left: none !important; /* stylelint-disable-line declaration-no-important */
        /* This removes the pseudo-element entirely */
        content: none !important; /* stylelint-disable-line declaration-no-important */
    }

    /* Section name - better display when editing. */
    .ucl-section-name {
        min-width: 95%;

        input {
            font-size: 2rem;
            min-width: 100%;
        }
    }

    /* Toc. */
    /* Sticky top and toc fab when navbar is fixed top - e.g. boost theme. */
    &:has(.navbar.fixed-top) {
       .sticky-top {
            top: 5rem !important; /* stylelint-disable-line declaration-no-important */
        }
        #ucl-format-mobile-toc-fab {
            bottom: 2rem;
        }
    }

    /* Toc mobile trigger. */
    #ucl-format-mobile-toc-fab {
        position: fixed;
        overflow: hidden;
        display: flex;
        justify-content: center;
        /* SHAME - magic numbers to work with ucl theme. */
        z-index: 6666;
        bottom: 4.5rem;
        left: 20%;
        right: 20%;
    }

    #toc li {
        a {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        /* Section visibility flag and highlight flag logic. */
        /* Default state - hide flags. */
        .flag-current,
        .flag-hidden {
            display: none;
        }

        /* Highlighted section. */
        &.current {
            .flag-current {
                display: inline-block;
            }
        }

        /* Hidden from students. */
        &.dimmed {
            .flag-hidden {
                display: block;
            }

            .progress-indicator {
                display: none;
            }
        }
    }

    /* Progress cicle. */
    @property --p {
        syntax: "<number>";
        inherits: true;
        initial-value: 0; /* stylelint-disable-line */
    }

    .pie {
        --p: 0;
        --b: 3px;
        --c: transparent;
        --w: 26px;

        width: var(--w);
        min-width: var(--w);
        aspect-ratio: 1;
        position: relative;
        display: inline-grid;
        margin: 5px;
        place-content: center;
        background-color: #e9ecef;
        border-radius: 50%;
    }

    .pie:before,
    .pie:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    .pie:before {
        inset: 0;
        background:
            radial-gradient(farthest-side, var(--success) 98%, #0000) top/var(--b) var(--b) no-repeat,
            conic-gradient(var(--success) calc(var(--p) * 1%), #0000 0);
        background-size: 0 0, auto;
        -webkit-mask:
            radial-gradient(
                farthest-side,
                #0000 calc(99% - var(--b)),
                #000 calc(100% - var(--b))
            );
        mask:
            radial-gradient(
                farthest-side,
                #0000 calc(99% - var(--b)),
                #000 calc(100% - var(--b))
            );
    }

    .pie:after {
        inset: calc(50% - var(--b) / 2);
        background: var(--success);
        transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
        content: none;
    }

    .pie.animate {
        animation: p 1s 1s both;

        .fa-check {
            display: none;
        }
    }

    .pie.complete {
        transition: all 1s;
        background-color: var(--success);

        .fa-check {
            display: block;
        }
    }

    @keyframes p {
        from {
            --p: 0;
        }
    }

    /* Course contacts. */
    #format-ucl-contacts-widget {
        /* User icon. */
        .userpicture,
        .userinitials,
        .ucl-format-image-hidden {
            border: none;
            font-weight: bold;
            width: 3rem;
            height: 3rem;
            margin: 0;
        }

        /* Hidden contact icon. */
        .ucl-format-image-hidden {
            display: none !important; /* stylelint-disable-line declaration-no-important */
        }

        /* Contact is hidden - show hidden icon, hide userpic. */
        .ucl-format-coursecontact:has(.contact-hide-toggle:not(:checked)) {
            .ucl-format-image-hidden {
                display: flex !important; /* stylelint-disable-line declaration-no-important */
            }

            .userpicture,
            .userinitials {
                display: none !important; /* stylelint-disable-line declaration-no-important */
            }
        }

        /* Custom contact form. */
        div[id^="ucl-format-customcontact-form"] {
            .fitem,
            .col-form-label,
            .felement {
                display: block;
                width: 100%;
                max-width: 100%;
            }
            /* No label elements - e.g. buttons. */
            .femptylabel {
                width: auto;
            }
            /* SHAME - remove padding on submit button. */
            #fitem_id_submitbutton {
                padding-right: 0;
            }

            .form-label-addon,
            .fdescription.required {
                display: none !important; /* stylelint-disable-line declaration-no-important */
            }
        }
    } 
}

/* WIP - status icons for assessments. */
.status-icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid currentColor;
    &.status-success {
        color: var(--success);
        background-color: rgb(from var(--success) r g b / .05);
    }
    &.status-overdue {
        color: var(--danger);
        background-color: rgb(from var(--danger) r g b / .05);
    }
    &.status-requiremarking {
        color: var(--primary);
        background-color: rgb(from var(--primary) r g b / .05);
    }
}
