{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ucl/local/content
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}
{{!
  Include the core content template.
  This is the top template for a course.
}}

{{! TODO - only show wranings when "this is the main course page"... }}
{{> format_ucl/widgets/warnings/warnings }}


<div class="row p-3 px-lg-0">
    {{#toc}}
    {{! Mobile toc trigger. }}
       <div id="mobile-toc-fab" class="d-lg-none position-fixed w-100 text-center">
            <a href="#ucl-course-toc" class="fadeInUp btn btn-warning rounded-pill mb-2 d-inline-flex justify-content-center align-items-center">
                <i class="fa-solid fa-bars mr-2"></i>
                {{#str}} toc, format_ucl {{/str}}
            </a>
        </div>

        <div id="ucl-course-toc" class="col-lg-3 d-none d-lg-block animate-enter">
            {{> format_ucl/widgets/toc }}
        </div>
    {{/toc}}

    <div id="ucl-course-content" class="col">
        <div class="d-flex align-items-center">
            <h2 class="ucl-section-name">{{{sectionname}}}</h2>

            {{#sectionactions}}
                <div class="ml-auto" data-for="section-controlmenu" data-id="{{id}}">
                    {{{sectionactions}}}
                </div>
            {{/sectionactions}}

            {{#singleedit}}
                <div class="ml-auto">
                    <a class="btn btn-outline-secondary" href="{{{editurl}}}">
                        Edit
                    </a>
                </div>
            {{/singleedit}}
        </div>

        {{> format_ucl/local/content }}
    </div>
</div>

{{! Js for progress when not editing. }}
{{^isediting}}
    {{#js}}
        require(['jquery'], function($) {
        $('.header-action .section-actions').remove();

        // Section progress.
        // Timeout so course-index can load.
        setTimeout(() => {
        // Select the node that will be observed for mutations.
        const targetNode = document.getElementById('course-index');
        // Config.
        const config = { attributes: true, childList: true, subtree: true };

        // Callback.
        const callback = function(mutationList, observer) {
        // Use traditional 'for loops' for IE 11
        for(const mutation of mutationList) {
        if (mutation.type === 'childList') {
        updateSectionProgress();
        }
        }
        };

        // Create observer instance linked to callback function.
        const observer = new MutationObserver(callback);

        // Start observing.
        observer.observe(targetNode, config);
        }, 1000);

        function updateSectionProgress() {
        // Loop through sections and calculate progress.
        $('#course-index .courseindex-section').each(function (i) {
        const id = $(this).data('id');
        const total = $(this).find('.completioninfo:not(.completion_none)').length;
        // Check we have mods to complete.
        const validTotal = parseInt(total, 10) || 0;

        // Only update if section has mods to complete.
        if (validTotal > 0) {
        const done = $(this).find('.completion_complete').length;
        const validDone = parseInt(done, 10) || 0;
        updateSectionPie(id, validTotal, validDone);
        }
        });
        }

        function updateSectionPie(id, total, done) {
        const pie = $('.pie[data-id="' + id + '"]');
        const percentage = Math.round((done / total) * 100);

        // Ensure current percentage is a valid number.
        let currentPercentage = parseInt($(pie).attr('data-percentage'), 10) || 0;

        // Check if an update is needed.
        if (currentPercentage !== percentage) {
        const tooltip = ''+done+' of '+total+' complete';

        // Set tooltip and aria-label
        $(pie).attr({
        'data-original-title': tooltip,
        'aria-label': tooltip
        });

        // Update pie class based on completion.
        if (percentage === 100) {
        $(pie).addClass('complete').removeClass('animate');
        } else {
        $(pie).removeClass('complete').addClass('animate');
        }

        // Animate pie to target percentage.
        const interval = setInterval(() => {
        const direction = percentage > currentPercentage ? 1 : -1;
        currentPercentage += direction;

        $(pie).attr({
        'style': `--p:${currentPercentage};--c:green`,
        'data-percentage': currentPercentage
        });

        if (currentPercentage === percentage) {
        clearInterval(interval);
        }
        }, 10); // Timing.
        }
        }
        });
    {{/js}}
{{/isediting}}

