{{!
    This file is part of Moodle - https://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_ucl/widgets/toc/toc_link_progress
    Template purpose and description.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * attributes Array of name / value pairs.
    Example context (json):
    {
    }
}}
<div class="progress-indicator ml-auto" style="max-height: 36px;">
    {{#total}}
    <div data-id="{{id}}"
        data-percentage="{{percentage}}"
        class="pie animate {{#done}} complete {{/done}}"
        style="--p:{{percentage}};--c:green"
        data-toggle="tooltip" data-placement="right"
        title="{{complete}} of {{total}} complete"
        aria-label="{{complete}} of {{total}} complete">
            <i class="fa-solid fa-check fa-xs text-white"></i>
    </div>
    <span class="sr-only">{{complete}} of {{total}} complete</span>
    {{/total}}
</div>

