<li
    id="tocsection-{{id}}"
    class="d-flex align-items-center py-1 
    {{#active}} active {{/active}}
    {{#highlight}} current {{/highlight}}
    {{^visible}} dimmed {{/visible}}"
    data-id="{{id}}"
    data-for="tocsection"
>
    <div>
        <div class="flag-current">
            <span class="badge badge-info badge-pill">
                Highlighted
            </span>
        </div>

        <a data-for="section_title" href="{{{url}}}" class="line-clamp-2 {{{class}}}">
            {{{name}}}
        </a>
    </div>

    <div class="flag-hidden ml-auto">
        <div class="badge badge-warning rounded-circle p-2 m-1"
            data-toggle="tooltip" data-html="true" data-placement="right"
            title="{{#str}} hiddenfromstudents {{/str}}">
            <i class="fa-solid fa-eye-slash"
            ></i>
        </div>
        <div class="sr-only">{{#str}} hiddenfromstudents {{/str}}</div>
    </div>

    {{#progress}}
        {{> format_ucl/widgets/toc/toc_link_progress }}
    {{/progress}}
</li>

{{#js}}
  require(['format_ucl/local/toc/section'], function(component) {
        component.init('tocsection-{{id}}');
    });
{{/js}}