<div id="format-ucl-assessments-widget" class="py-3">
    <hr class="gr">
    <h3 class="pt-3">
        Summative assessments
    </h3>
    <p>Summative assessments from this Moodle course.</p>
    
    <div class="row text-muted pb-2 d-none d-md-flex">
        <div class="col-3">Due</div>
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-6">
                    Assessment
                </div>

                <div class="col-6 text-right">
                    {{#staff}} Submissions {{/staff}}
                    {{#learner}} Mark {{/learner}}
                </div>
            </div>
        </div>
    </div>

    {{#assessments}}
        <div class="row pt-1 format-ucl-assessments-widget-assessment">
            {{> format_ucl/widgets/assessment/assessment }}
        </div>
        <hr>
    {{/assessments}}
</div>
